<div class="container" *ngIf="products">
    <div>
        <h3> {{title}}</h3>
    </div>
    <div *ngFor="let p of products._embedded.products">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-Heading"> {{p.name}} </div>
                <div class="panel-body">
                    <tr>
                        <td>
                            <img height="100" src="{{this.catService.host+'/photoProduct/'+p.id}}"/>
                            <p>
                                <button (click)="onEditImg(p)" >
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </p>
                            <p *ngIf="editImg==true && currentProduct==p ">
                                <input type="file" (change)="onSelectedFile($event)">
                                <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
                                {{progress}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{p.description}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{p.price | number:'0.2'}}</td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>

